<div class="row-fluid">
  <div class="span12">
    <% if @videos.length > 0 %>
        <% date = nil %>
        <% @videos.each_with_index do |video, index| %>
            <% if video.createdtime.strftime("%Y-%m-%d") != date %>
                <% date = video.createdtime.strftime("%Y-%m-%d") %>
                <% if index > 0 %>
                    </tbody>
                    </table>
                <% end %>
                <table class="table table-striped table-bordered table-hover table-condensed videos-list-table">
                  <thead>
                  <tr>
                    <th style="width:80px;"><%= date %></th>
                    <th style="width:90px;">标签</th>
                    <th class="text-left">名称</th>
                    <th style="width:180px;">下载</th>
                    <th style="width:60px;">容量</th>
                    <!-- th style="width:60px;">下载次数</th -->
                  </tr>
                  </thead>
                  <tbody>
            <% end %>
            <tr>
              <td style="width:80px;"><%= video.createdtime.strftime("%H:%M") %></td>
              <td style="width:90px;"><span class="label label-success"><%= video.tag %></span></td>
              <td class="text-left"><a href="/view/<%= video.id %>.html" target="_blank"><%= video.name %></a></td>
              <td style="width:180px;">
                <a <% if video.magnet %>href="<%= video.magnet %>"<% end %> class="btn btn-mini <% if !video.magnet %>disabled<% end %>"><i class="icon-download"></i> 磁力</a>
                <a <% if video.ed2k %>href="<%= video.ed2k %>"<% end %> class="btn btn-mini <% if !video.ed2k %>disabled<% end %>"><i class="icon-download"></i> 电驴</a>
                <a <% if video.thunder %>href="<%= video.thunder %>"<% end %> class="btn btn-mini <% if !video.thunder %>disabled<% end %>"><i class="icon-download"></i> 迅雷</a>
              </td>
              <td style="width:60px;"><%= video.filesize %></td>
              <!-- td style="width:60px;"><%= video.download %></td -->
            </tr>
            <% if index==@videos.length-1 %>
                </tbody>
                </table>
            <% end %>
        <% end %>
        <%= will_paginate @videos %>
    <% else %>
        <div class="alert">
          <strong>对不起，没有资源。</strong>
        </div>
    <% end %>
  </div>
</div>
